<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    
</head>
<body>

    <h2>Index</h2>
    <div id="app">
        <h3>[[ message ]]</h3>
    </div>
    <br><br>
    {% if not user %}
        <a href="/login">Login</a>
    {% endif %}

    <br><br>
    <h5>{{ user }}</h5>

    

    {% if user %}

        <a href="/logout">Logout</a>
        <br><br>
        <form action="/" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
            <input type="text" id="string" name="string" value="" autofocus> 
            <h2>{{ reversed_str }}</h2>
            <h3>{% block content %}{% endblock %}</h3>

        </form>

    {% endif %}

    




    <script>
            var app = new Vue({
                el: '#app',
                data: {
                    message: 'Vue.js works'
                },
                delimiters: ['[[',']]']
                })
        </script>



</body>
</html>


